// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h2{
  color: royalblue;
  font-family: 'Rufina', serif;
}

#task{
  background-color: lightgrey;
  margin: 15px;
  padding: 15px;
  border-radius: 3px;
}

.form-group{
  margin: auto;
  margin: 15px;
}

#status{
  padding-left: 20px;
}
.form-check{
  display: flex;
  text-align: center;
}


